-- Create the user from the environment variable DB_USER (user_app)
CREATE USER ${DB_USER} WITH PASSWORD '${DB_PASSWORD}';

-- Create the database from the environment variable DB_NAME (subscriptions_db)
CREATE DATABASE ${DB_NAME} OWNER ${DB_USER};

-- Grant privileges on the database to the new user
GRANT ALL PRIVILEGES ON DATABASE ${DB_NAME} TO ${DB_USER};